
@{
    ViewBag.Title = "Clear";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h2>Stack has been cleared yo!!!!!!</h2>

<a href="@Url.Action("Index", "Home")"
   class="w3-bar-item w3-button">Home</a>
<a href="@Url.Action("Index", "Stack")"
   class="w3-bar-item w3-button">Back</a>