
@{
    ViewBag.Title = "Clear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stack has been cleared yo</h2>

<a href="@Url.Action("Index", "Home")"
   class="w3-bar-item w3-button">Home</a>
<a href="@Url.Action("Index", "Stack")"
   class="w3-bar-item w3-button">Back</a>