
@{
    ViewBag.Title = "SearchStack";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h2>SearchStack</h2>
@if (ViewBag.MyStack != null && ViewBag.QueueDisplay == true)
{
    foreach (var sData in ViewBag.MyStack)
    {
        <p>@sData</p>
    }
}
else
{
}
<h2>@ViewBag.DeleteError</h2>
<h3>@ViewBag.Search</h3>