
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>The stack is empty. This is either an error or test</h2>

<a href="@Url.Action("Index", "Home")"
   class="w3-bar-item w3-button">Home</a>
<a href="@Url.Action("Index", "Stack")"
   class="w3-bar-item w3-button">Back</a>
