
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Queue Index</title>
</head>
<body>
    <div>
        <h1>Here's the Queue</h1>
        <a href="@Url.Action("AddOne", "Queue")"
           class="w3-bar-item w3-button">Add an item to queue</a>
    </div>
    @foreach (var queueNumber in ViewBag.Berries)
    {
        <p>@queueNumber</p>
    }
</body>
</html>
